[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:ucb-bar/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = git@github.com:ucb-bar/testchipip.git
[submodule "dma"]
	path = dma
	url = https://github.com/zhemao/riscv-dma2.git
